* {
  box-sizing: border-box;
}

.maincard{
    height: 100vh;
    /* padding-top: 15px; */
    width: 100%;
    background-color: azure;

    /* background-color: black;
      */ margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      /* background-image: url("/public/images/carwithwater.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover */
    } 
    .maincard2 {
    height: 519px;
    /* padding-top: 15px; */
    width: 80%;
    background-color: #e9f2f2;
    margin: auto;
    display: flex;
  }
  .containar1{
    width:50%;
    background-color: azure;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .containar2{
    width:50%;
    background-color:darkturquoise;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  
  
  }
  .userfields{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 79%;
    align-items: center;
    padding-top: 20px;
  }
  
  .labelStyles{
    font-size: 18px;
    color:white
  }
  .inputstyles{
    height: 30px;
    width: 376px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    position: relative;
    font-size: 20px;
  }
  .input1{
    padding-bottom: 26px;
    color: white;
  }
  .forgotPassword{
  /* color:white; */
  justify-content: flex-end;
  display: flex;
  padding-top: 23px;
  }
  
  
  .header{
    display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  /* color: white; */
  }
  
  .buttonStyles{
    height: 45px;
    width: 70%;
    border-radius: 29px;
    background-color:#36B78E;
    /* color: white; */
    font-size: 17px;
    border-width: 0;
    font-weight: 600;
  }
  .signinbutton{
    display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 38px;
  }
  
  .account{
    display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 41px;
  /* color: white; */
  
  }
  .signin{
    /* color: white; */
  }
  #standard-basic{
    position: relative;
  }
   
  
  